div.row {
    display: flex;
    justify-content: center;
    background-color: green;
}

@media (orientation: landscape) {
    app-point {
        width: 3.33vh;
        height: 3.33vh;
    }
}

@media (orientation: portrait) {
    app-point {
        width: 3.33vw;
        height: 3.33vw;
    }
}

